<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Détails de la Musique</title>
    <link rel="stylesheet" href="static/css/index_finish.css">
    <link rel="icon" href="static/img/favicon.ico" type="image/x-icon">
</head>
<body>

<div class="details-container">
    <!-- J'affiche les éléments du formulaire -->
    <h2>Détails de la Musique</h2>
    <p><strong>Nom d'utilisateur :</strong> {{ username }}</p>
    <p><strong>artist :</strong> {{ artist }}</p>
    <p><strong>title :</strong> {{ title }}</p>
    <p><strong>C'est votre tour dans</strong> {{ id }} <strong>chansons</strong></p>
</div>

</body>
</html>
